
@using TestProject.Models
@model List<AdPanel>
@{
    ViewBag.Title = "Slides";
}


    <div class="menuform">
        <h2>Slide's Text</h2>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Text</td>
                </tr>
            </thead>
            <tbody>
                @try
                {
                    foreach (AdPanel item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Text
                            </td>
                            <td>
                                <a href="@Url.Action("update","slide",new{id=item.Id})">Update</a>
                            </td>
                            <td>
                                <a onclick="return confirm('Are you sure?')" href="@Url.Action("delete","slide",new{id=item.Id})">Delete</a>
                            </td>
                        </tr>
                    }
                }
                catch (System.NullReferenceException ex)
                {

                }

            </tbody>
        </table>
        <div>
            <a href="@Url.Action("create","slide")">
                Add New Text
            </a>
        </div>
    </div>


