<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TestProject</title>
    <link href="~/Content/Custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="header">
            <div class="row">
                <div class="col col-md-8">
                    <ul class="menu">
                        @Html.Action("DisplayMenu")
                    </ul>
                </div>
                <div class="col col-md-4">
                    @Html.Partial("~/Views/Shared/_ButtonText.cshtml")
                </div>
            </div>

            <div class="container body-content">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TestProject</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
</body>
</html>